# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

order list:
    1 - Python 
    2 - R 
    3 - Julia
    4 - Perl

**Objectives:**

- Convert minutes to hours using Python
- List popular programming languages for Data Science
- List popular libraries by Data Scientists 
- List popular Data Science tools 
- Arithmetic expression examples

#Some of the commonly used libraries used by Data Scientists include:

order list:
     1 - Pandas
     2 - Matplotlib 
     3 - SciPy

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

# arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python:

In [7]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60 

print(hours)

3.3333333333333335

## Auther 
Muhammad